<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home page of user</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>No of user in Data base is : <%= count %></h2> 
    <a href="http://localhost:8080/user">See all user</a><br><br>
    <form method="get" action="/user/add">
    <button>Join us!</button>
    </form>
</body>
</html>